.RecentPosts2 {
    height: 100%;
    margin: 0% 7% 0% 7%;
}

.RecentPosts2 .RecentPostContainer {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 0px;
    
}

.RecentPosts2 .viewAll {
    width:100%;
    display: flex;
    justify-content: start;
    font-size: 22px;
    font-weight: 400;
    color: var(--navyblue);

}
.RecentPosts2 .viewAll span:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    color: var(--seablue);

}

.RecentPosts2 .RecentPostContainer .post{

    margin:1rem 0.5% 0rem 0rem;
    width: 100%;
    border-radius: 4px;
}

.RecentPosts2 .RecentPostContainer .post h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 38.19px;
    color:var(--navyblue);
    margin-bottom: 1rem;
}

.RecentPosts2 .RecentPostContainer .post span{
    font-weight: 400;
    font-size: 18px;
    line-height: 26.44px;
    color:var(--navyblue);
}
.RecentPosts2 .RecentPostContainer .post span:nth-child(1){
    margin-right: 30px;
    font-weight: 500;
}
.RecentPosts2 .RecentPostContainer .post span:nth-child(2){
    width: 0px;
    height: 21px;
    border: 0.4px solid var(--black);
}
.RecentPosts2 .RecentPostContainer .post span:nth-child(3){
    margin-left: 30px;
    color: var(--lightgray);
}

.RecentPosts2 .RecentPostContainer .post p{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
    color:var(--navyblue);
}

.horizontal-line2 {
    height: 0px;
    border: 0.5px solid var(--hline);
    max-width: 100%;
    margin-top: 2rem;
}

/* for mobile */
@media screen and (max-width:768px) {
    .RecentPosts2 .RecentPostContainer{
        flex-direction: row;
    }

    .RecentPosts2 .RecentPostContainer .post{
        margin:1rem 0rem 0rem 0rem;
        width: 100%;
    }
    .RecentPosts2 .RecentPostContainer .post h3{
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color:var(--navyblue);
        margin-bottom: 1rem;
    }
    .RecentPosts2 .RecentPostContainer .post span{
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color:var(--navyblue);
    }
    .RecentPosts2 .viewAll {
        width: 860px;
        display: flex;
        justify-content: start;
        font-size: 18px;
        font-weight: 400;
    
    }
    .RecentPosts2 .viewAll span:nth-child(2) {
        display: none;
    }
    .RecentPosts2 .RecentPostContainer .post:last-child {
        margin:1rem 0rem 1rem 0rem;    }
}

/* For tablet */

@media screen and (max-width:1024px) {
    .RecentPosts2 .RecentPostContainer{
        flex-direction: row;
    }
    .RecentPosts2 .RecentPostContainer .post{
        margin:1rem 0rem 0rem 0rem;
        width: 100%;
    }   
    .RecentPosts2 .RecentPostContainer .post h3{
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color:var(--navyblue);
        margin-bottom: 1rem;
    }
    .RecentPosts2 .RecentPostContainer .post span{
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color:var(--navyblue);
    }
    .RecentPosts2 .viewAll {
        width: 860px;
        display: flex;
        justify-content: start;
        font-size: 18px;
        font-weight: 400;
    
    }
    .RecentPosts2 .viewAll span:nth-child(2) {
        display: none;
    }
    .RecentPosts2 .RecentPostContainer .post:last-child {
        margin:1rem 0rem 1rem 0rem;
    }
}