.hamburger {
  display: none;
}

nav {
  margin: 1.5rem 0rem 0rem 0rem;
  background-color: var(--white);
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.nav-links li .active {
  color: var(--seablue);
}

.nav-links li a {
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
  margin-left: 30px;
}

.nav-links li a {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-links li a div {
  padding-top: 5px;
}

/* For Mobile */

@media screen and (max-width:768px) {
  nav {
    margin: 0;
    background-color: var(--white);
    width: 100%;
    margin-left: auto;
  }
  .hamburger {
    display: block;
    position: fixed;
    cursor: pointer;
  }
  .nav-links {
    position: fixed;
    background: var(--skyblue);
    color: var(--navyblue);
    height: 50vh;
    width: 100%;
    top: -15px;
    left: 0px;
    margin-top: 15px;
    padding-top: 45px;
    padding-right: 15px;
    -webkit-box-shadow:0 8px 6px -6px var(--navyblue);
    -mox-box-shadow: 0 8px 6px -6px var(--navyblue);
    box-shadow: 0 8px 6px -11px var(--navyblue);
    flex-direction: column;
    clip-path: circle(10px at 100% -10%);
    -webkit-clip-path: circle(10px at 100% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    justify-content: space-evenly;
    z-index: 1;
  }
  .nav-links.open {
    clip-path: circle(1000px at 100% -10%);
    -webkit-clip-path: circle(1000px at 100% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 1;
    padding-right: 25px;
  }
  .nav-links li a {
    padding: 15px 800px 15px 800px;
    font-size: 25px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav-links li a:hover {
    background-color: var(--seablue);
  }
  .nav-links li .active {
    background-color: var(--seablue);
  }
  .nav-links li a div {
    padding-top: 5px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  /* hamburger icon */
  #nav-icon1, #nav-icon2, .hamburger, #nav-icon4 {
    width: 35px;
    height: 35px;
    position: fixed;
    z-index: 2;
    top: 5px;
    right: 10px;
    margin: 10px 5px 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon1 span, .hamburger span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--navyblue);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 0px;
  }
  .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
    top: 12px;
  }
  .hamburger span:nth-child(4) {
    top: 24px;
  }
  .hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}