.footer {
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin: 0.5rem 0.5rem;
    list-style-type: none;
    color: var(--navyblue);
}

.footer ul li svg{
    width: 30px;
    height: 30px;
}
.footer span {
    font-size: 11px;
    line-height: 21px;
    color: var(--navyblue);
}