.container {
    margin: 0 5rem 2rem 5rem;
}

@media screen and (max-width:768px) {
    .container {
        margin: 0 5px 2rem 5px;
    }
}
@media screen and (min-width:1440px) {
    .container {
        margin: 0 12rem 2rem 12rem;
    }
}